.news-image {
  position: relative;
  &:hover {
    .product-action {
      right: 40px;
      visibility: visible;
      opacity: 1;
    }
  }
  .product-action {
    position: absolute;
    right: -20px;
    transition: all 0.3s 0s ease-out;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    bottom: 25px;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        button {
          border: none;
          cursor: pointer;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 1px 3px #010f1c24;
          background-color: white;
          transition: 0.5s;
          position: relative;
          border-radius: 15px;
          &:hover {
            img {
              filter: invert(100%);
            }
            .tooltip-text {
              visibility: visible;
              opacity: 1;
              transform: translate(-8px) translateY(-50%);
            }
          }
          .tooltip-text {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            width: max-content;
            font-size: 12px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 4px;
            padding: 4px 6px;
            z-index: 1;
            top: 50%;
            right: 100%;
            line-height: 1;
            transform: translateY(-50%);
            transition: opacity 0.3s ease, visibility 0.3s ease,
              transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
            &::after {
              content: " ";
              position: absolute;
              top: 50%;
              left: 100%;
              margin-top: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent transparent transparent black;
            }
          }
          img {
            width: auto;
          }
        }
      }
    }
  }
}
