.container-account {
  width: 66%;
  margin: 0 auto;
}
#account-area {
  background-color: #f9f9f9;
  padding-top: 50px;
  height: 100vh;
  .account-side {
    .title {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
      }
    }
  }
  .account-info {
    margin-top: 30px;
    h1 {
      font-size: 18px;
      color: #141414;
      font-weight: bold;
    }
    .id {
      margin-top: 20px;
      p {
        span {
          font-weight: bold;
          color: #141414;
        }
      }
    }
    form {
    }
  }
}
