.account-side {
  .email-preference {
    .title {
      h1 {
        font-size: 30px;
      }
    }
    .sub {
      h1 {
        font-size: 20px;
        font-weight: bold;
        color: #141414;
      }
      span {
      }
    }
  }
}
