#header {
  background-color: #18181c;
  height: 72px;
  padding: 20px 24px;
  .left-side {
    width: 78px;
    .icon {
      filter: invert(1);
      padding-right: 15px;
    }
  }
  .middle {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;

      .store {
        width: 54px;
        height: 32px;
        margin-right: 20px;
      }
      li:not(:first-child) {
        a {
          color: #aaaaae;
          text-decoration: none;
          font-size: 14px;
          padding: 4px 16px;
          border-radius: 0.5rem;
          transition: color var(--easing-duration, 0.2s)
              var(--easing, cubic-bezier(0.65, 0, 0.35, 1)),
            background-color var(--easing-duration, 0.2s)
              var(--easing, cubic-bezier(0.65, 0, 0.35, 1));
          &:hover {
            color: #e6e6ea;
            background-color: #404044;
          }
        }
      }
    }
  }
  .right-side {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 10px;
      margin: 0;
      padding: 0;
      li:not(:first-child) {
        a {
          color: #aaaaae;
          text-decoration: none;
          font-size: 14px;
          padding: 4px 16px;
          border-radius: 0.5rem;
          transition: color var(--easing-duration, 0.2s)
              var(--easing, cubic-bezier(0.65, 0, 0.35, 1)),
            background-color var(--easing-duration, 0.2s)
              var(--easing, cubic-bezier(0.65, 0, 0.35, 1));
          &:hover {
            color: #e6e6ea;
            background-color: #404044;
          }
        }
      }
      .account-nav {
        position: relative;
        &:hover {
          .nav-account-menu {
            display: block;
          }
        }
        .nav-account-menu {
          display: none;
          position: absolute;
          min-width: 160px;
          border-radius: 8px;
          padding-block: 24px;
          padding-inline: 16px;
          background-color: #202020;
          z-index: 1;
          right: -90px;
          top: 100%;
          ul {
            display: flex;
            flex-direction: column;
            li {
              width: 100%;
              text-align: left;
              a {
                font-size: 14px;
                display: block;
                width: 100%;
                color: #aaaaae;
                text-decoration: none;
                font-size: 14px;
                padding: 4px 16px;
                border-radius: 0.5rem;
                transition: color var(--easing-duration, 0.2s)
                    var(--easing, cubic-bezier(0.65, 0, 0.35, 1)),
                  background-color var(--easing-duration, 0.2s)
                    var(--easing, cubic-bezier(0.65, 0, 0.35, 1));
                &:hover {
                  color: #e6e6ea;
                  background-color: #404044;
                }
              }
              button {
                font-size: 14px;
                display: block;
                width: 100%;
                color: #aaaaae;
                text-decoration: none;
                font-size: 14px;
                padding: 4px 16px;
                border-radius: 0.5rem;
                transition: color var(--easing-duration, 0.2s)
                    var(--easing, cubic-bezier(0.65, 0, 0.35, 1)),
                  background-color var(--easing-duration, 0.2s)
                    var(--easing, cubic-bezier(0.65, 0, 0.35, 1));
                border: none;
                background: transparent;
                text-align: left;
                &:hover {
                  color: #e6e6ea;
                  background-color: #404044;
                }
              }
            }
          }
        }
      }
    }
    .account {
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-color: #404044;
      border-radius: 50%;
      img {
        width: 32px;
        height: 32px;
        filter: invert(1);
      }
    }
  }
}

.sticky {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #121212;
  z-index: 10000;
}

#header-bottom {
  background-color: #121212;
  height: 100px;
  .search-input {
    height: 100px;
    display: flex;
    align-items: center;
    .input-area {
      display: flex;
      align-items: center;
      .search-icon {
        position: relative;
        width: 17px;
        height: 17px;
        top: -3px;
        left: 28px;
        img {
          width: 17px;
          height: 17px;
          top: 0;
          position: relative;
        }
      }
      .search {
        font-size: 14px;
        height: 40px;
        border-radius: 24px;
        background-color: #202020;
        border: none;
        outline: none;
        color: whitesmoke;
        padding: 0 35px;
        width: 100%;
      }
      input {
        &::placeholder {
          color: #aaaaae;
        }
      }
    }
  }

  .menus {
    height: 100px;
    display: flex;
    align-items: center;
    ul {
      gap: 13px;
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      margin-left: 20px;
      li {
        padding: 10px;
        a {
          font-size: 16px;
          text-decoration: none;
          color: #aaaaae;
          transition: 0.5s;
          &:hover {
            color: #f5f5f5;
          }
        }
        .active {
          color: #f5f5f5;
        }
      }
    }
  }

  .menus-mobile {
    .menu-dropdown {
      position: relative;
      border: none;
      background-color: inherit;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: whitesmoke;
      cursor: pointer;
      .chevron {
        transform: rotateZ(90deg);
        margin-bottom: -2px;
        margin-left: 6px;
        transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
    .dropdown-menu-main {
      background: rgb(18, 18, 18);
      left: 20px;
      padding: 27px 32px;
      position: absolute;
      z-index: 9999;
      width: 90%;
      display: none; /* Initially hidden */
      border: none;
      ul {
        font-size: 14px;
        gap: 0;
        margin: 0px;
        padding: 0px;
        height: 100%;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        li:not(:first-child) {
          border-top: 1px solid #ffffff1a;
        }
        li {
          padding: 0;
          display: flex;
          align-items: center;
          height: 60px;
          a {
            color: #aaaaae; /* Ensure link color is visible */
          }
          .active {
            color: #f5f5f5;
          }
        }
      }
    }
    .show {
      display: block; /* Show when toggled */
    }
    .menu-dropdown .chevron.open {
      transform: rotateZ(-90deg); /* Rotate chevron when menu is open */
    }
    .cover {
      position: fixed;
      top: 152px;
      left: 0;
      width: 99%;
      height: 100%;
      background: black; /* Semi-transparent background */
      z-index: 9998; /* Ensure cover is below the menu */
      display: none; /* Initially hidden */
      opacity: 0.5;
    }

    .cover.show {
      display: block;
    }
  }

  .cart-wishlist {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: auto;
    ul {
      margin-left: auto;
      display: flex;
      padding: 0;
      margin-bottom: 0;
      align-items: center;
      list-style: none;
      li {
        .MuiBadge-badge {
          padding: 0px 10px;
          background: white;
          color: black;
          font-weight: 700;
          font-family: Inter;
          font-size: 10px;
          margin-left: 2px;
          width: 22px;
          height: 15px;
        }
        a {
          font-size: 16px;
          text-decoration: none;
          padding: 10px;
          color: #aaaaae;
          transition: 0.5s;
          &:hover {
            color: #f5f5f5;
          }
        }
        .active {
          color: #f5f5f5;
        }
        .basket-count {
          border-radius: 16px;
          color: #121212;
          background-color: whitesmoke;
          font-weight: bold;
          padding: 0px 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #header {
    padding: 20px;
    .middle {
      margin-left: 0;
    }
    .right-side {
      margin-left: auto;
    }
  }

  #header-bottom {
    height: 80px;
    .menus {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
    }
    .search-input {
      height: 80px;
      .search-overlay.show {
        display: flex;
      }
      .search-overlay {
        align-items: center;
        background: rgb(32, 32, 32);
        display: flex;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 11;
        display: none;
        .search-store {
          background: transparent;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 17px;
          height: 17px;
          margin-left: 25px;
          margin-top: 7px;
          .search-icon {
            width: 17px;
            height: 17px;
            top: 0;
            left: 0;
            img {
              top: -7px;
              left: 0;
            }
          }
        }
        .search-close {
          background: transparent;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          margin-right: 30px;
        }
      }
    }
    .cart-wishlist {
      height: 80px;
      .MuiBadge-root {
        padding-right: 5px;
      }
      img {
        width: 20px;
        height: 20px;
        opacity: 0.5;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #header {
    .middle {
      margin: 0;
    }
  }

  #header-bottom {
    .search-input {
      .input-area {
        .search-icon {
          img {
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #header-bottom {
    .menus {
      .menus-mobile {
        .dropdown-menu-main {
          left: 52px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #header-bottom {
    .menus {
      .menus-mobile {
        .dropdown-menu-main {
          left: 37px;
        }
      }
    }
  }
}
