#slider {
  .carousel {
    animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 200ms 1 normal forwards
      running animation-carousel;
    @keyframes animation-carousel {
      0% {
        transform: translateX(100px);
        opacity: 0;
      }
      75% {
        opacity: 1;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
    .carousel-main-item {
      width: 100%;
      height: 100%;
      position: relative;

      .image-link {
        display: block;
        width: 100%;
        height: 100%;
        .slider-image {
          img {
            overflow: hidden;
            border-radius: 16px;
            width: 107%;
            height: 100%;
          }
        }
        .image-shadow {
          position: absolute;
          top: 0;
          width: 80%;
          height: 100%;
          z-index: 0;
          opacity: 0.6;
          background: linear-gradient(
            270deg,
            rgba(11, 11, 11, 0) 0%,
            #0b0b0b 100%,
            #0b0b0b 100%
          );
        }
      }
      .game-detail {
        width: 328px;
        position: absolute;
        left: 56px;
        bottom: 56px;
        .game-description {
          .game-logo {
            animation: 200ms cubic-bezier(0.17, 0.17, 0.23, 1) 300ms 1 normal
              forwards running animation-game-logo;
            width: 260px;
            height: 160px;
            background-size: contain;
            background-position: bottom left;
            background-repeat: no-repeat;
            margin-bottom: 40px;
          }
          @keyframes animation-game-logo {
            0% {
              transform: translateX(80px);
            }
            75% {
              opacity: 1;
            }
            100% {
              transform: translateX(0px);
              opacity: 1;
            }
          }
          .about-game {
            animation: 400ms ease-in-out normal forwards running about;
            @keyframes about {
              0% {
                opacity: 0;
              }
              75% {
                opacity: 0.5;
              }
              100% {
                opacity: 1;
              }
            }
            span {
              font-size: 12px;
              color: whitesmoke;
              font-weight: 500;
              letter-spacing: 0.5px;
            }
            p {
              margin-bottom: 30px;
              margin-top: 10px;
              font-size: 18px;
              letter-spacing: -0.2px;
              line-height: 1.625;
              color: whitesmoke;
              font-weight: 500;
            }
          }
        }

        .game-operations {
          .price {
            margin-top: 10px;
            p {
              font-size: 16px;
              color: whitesmoke;
            }
          }
          .buy-wishlist {
            display: flex;
            a {
              display: flex;
              font-size: 14px;
              align-items: center;
              color: black;
              text-decoration: none;
              margin-right: 10px;
              border-radius: 4px;
              text-align: center;
              padding: 0 20px;
              height: 50px;
              background-color: whitesmoke;
            }

            button {
              background-color: transparent;
              line-height: 15px;
              padding: 0 20px;
              height: 50px;
              border: none;
              border-radius: 4px;
              display: flex;
              align-items: center;
              position: relative;
              color: whitesmoke;
              width: auto;
              span {
                font-size: 11px;
                color: whitesmoke;
              }
              .wishlist-button {
                margin-right: 6px;
                flex: 0 0 auto;
                justify-content: center;
                width: 20px;
                height: 20px;
                position: relative;
                border-radius: 50%;
                border: 2px solid whitesmoke;
                background-color: black;
                .spinner {
                  width: 12px;
                  height: 12px;
                  &::before {
                    height: 8px;
                    width: 2px;
                    background: rgb(245, 245, 245);
                    bottom: 0;
                    content: "";
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                  }
                  &::after {
                    height: 2px;
                    width: 8px;
                    background: rgb(245, 245, 245);
                    bottom: 0;
                    content: "";
                    left: 0;
                    margin: auto;
                    position: absolute;
                    right: 0;
                    top: 0;
                  }
                }
              }
              &::after {
                opacity: 0;
                border-radius: 4px;
                background-color: rgb(255, 255, 255);
                transition: 0.3s;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                border-radius: 4px;
              }
              &:hover::after {
                transition: 0.3s;

                opacity: 0.16;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }

  .carousel-mini-item {
    ul {
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          .active-thumb {
            background-color: #ffffff1a;
          }
          .mini-item-thumb {
            overflow: hidden;
            border-radius: 16px;
            padding: 10px;
            margin-left: 80px;
            width: 80%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            transition: background-color 200ms cubic-bezier(0.17, 0.17, 0.23, 1);
            .item-image {
              margin: 0 15px;
              border-radius: 8px;
              width: 60px;
              height: 80px;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .game-name {
              span {
                text-decoration: none;
                color: whitesmoke;
                font-size: 16px;
              }
            }
            &:hover {
              background-color: #ffffff1a;
            }

            .cover {
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              opacity: 1;
              transition: opacity 350ms cubic-bezier(0.17, 0.17, 0.23, 1);
              z-index: 0;
              transition-delay: 200ms;
              .cover-item {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                border-radius: 16px;
              }
              .cover-progress {
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                background-color: #ffffff14;
                width: 100%;
                animation: animation-thumbload 7000ms linear;
                border-radius: 16px;
                animation-play-state: running;
              }
              @keyframes animation-thumbload {
                0% {
                  transform: translate3d(-100%, 0, 0);
                }
                100% {
                  transform: translate3d(0, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #slider {
    .carousel {
      .carousel-main-item {
        .image-link {
          .slider-image {
          }
          .image-shadow {
          }
        }
        .game-detail {
          width: 320px;
          left: 32px;
          bottom: 32px;
          .game-description {
            .game-logo {
              width: 150px;
              height: 55px;
              margin-bottom: 20px;
            }
            .about-game {
              font-size: 12px;
              p {
                font-size: 14px;
                margin: 0;
              }
            }
          }
          .game-operations {
            .price {
              p {
                margin-top: 10px;
                margin-bottom: 0;
              }
            }
            .buy-wishlist {
              margin-top: 10px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .carousel-mini-item {
      ul {
        li {
          a {
            .mini-item-thumb {
              padding: 0;
              margin-left: 24px;
              height: 48px;
              .item-image {
                margin: 0;
                margin-left: 4px;
                width: 28px;
                height: 37px;
                img {
                  width: 28px;
                  height: 37px;
                }
              }
              .game-name {
                padding-left: 10px;
                span {
                  font-size: 12px;
                  letter-spacing: 0.17px;
                  line-height: 1.5;
                }
              }
              .cover {
                .cover-item {
                }
                .cover-progress {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #slider {
    .carousel {
      .carousel-main-item {
        .image-link {
          .slider-image {
          }
          .image-shadow {
          }
        }
        .game-detail {
          width: 320px;
          left: 32px;
          bottom: 32px;
          .game-description {
            .game-logo {
              width: 150px;
              height: 55px;
              margin-bottom: 20px;
            }
            .about-game {
              font-size: 12px;
              p {
                font-size: 14px;
                margin: 0;
              }
            }
          }
          .game-operations {
            .price {
              p {
                margin-top: 10px;
                margin-bottom: 0;
              }
            }
            .buy-wishlist {
              margin-top: 10px;
              a {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .carousel-mini-item {
      ul {
        li {
          a {
            .mini-item-thumb {
              padding: 0;
              margin-left: 47px;
              height: 74px;
              .item-image {
                margin: 0;
                margin-left: 4px;
                width: 40px;
                height: 53px;
                img {
                  width: 40px;
                  height: 53 px;
                }
              }
              .game-name {
                padding-left: 10px;
                span {
                  font-size: 14px;
                  letter-spacing: 0.17px;
                  line-height: 1.5;
                }
              }
              .cover {
                .cover-item {
                }
                .cover-progress {
                }
              }
            }
          }
        }
      }
    }
  }
}

#top-new-releases {
  margin-top: 50px;
  .top-title {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
      color: whitesmoke;
      font-size: 18px;
    }
    .slider-controller {
      display: flex;
      .disable {
        img {
          opacity: 0.5;
        }
      }
      .bttn {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: transparent;
        border-radius: 50%;
        background-color: #202020;
        border: none;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: #2b2b2b;
        }
      }
      .prev-button {
        width: 30px;
        height: 30px;
        .prev-btn {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .next-button {
        width: 30px;
        height: 30px;
        margin-left: 10px;
      }
    }
  }

  .offer-card {
    position: relative;
    a {
      text-decoration: none;
      .card-body {
        width: 100%;
        .card-image {
          margin-bottom: 5px;
          border-radius: 4px;
          overflow: hidden;
          position: relative;
          width: 100%;
          &:hover::after {
            opacity: 0.1;
          }
          &::after {
            transition: opacity 125ms ease-in-out;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            opacity: 0;
            pointer-events: none;
            z-index: 1;
            border-radius: 0;
          }
          img {
            transition: 0.2s;
            width: 100%;
          }
        }
        .card-desc {
          .game-type {
            font-size: 11px;
            color: #f5f5f599;
            letter-spacing: 1px;
          }
          .name {
            font-size: 16px;
            line-height: 20px;
            color: whitesmoke;
            margin: 5px 0px;
          }
          .price {
            margin-top: 10px;
            line-height: 20px;
            color: whitesmoke;
          }
        }
      }
    }
    .to-wishlist {
      position: absolute;
      top: 0px;
      right: 0px;
      transition: opacity 125ms ease-in-out 0s;
      opacity: 0;
      z-index: 1;
      .add-to-wishlist {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        .wishlist-circle {
          align-items: center;
          background: rgb(18, 18, 18);
          border-radius: 50%;
          border: 2px solid rgb(245, 245, 245);
          box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
          display: flex;
          flex: 0 0 auto;
          height: 20px;
          justify-content: center;
          position: relative;
          width: 20px;
          .plus-item {
            width: 12px;
            height: 12px;
            &::before {
              background: rgb(245, 245, 245);
              bottom: 0;
              content: "";
              left: 0;
              margin: auto;
              position: absolute;
              right: 0;
              top: 0;
              height: 10px;
              width: 2px;
            }
            &::after {
              background: rgb(245, 245, 245);
              bottom: 0;
              content: "";
              left: 0;
              margin: auto;
              position: absolute;
              right: 0;
              top: 0;
              height: 2px;
              width: 10px;
            }
          }
        }
      }
    }
    &:hover .to-wishlist {
      opacity: 1;
    }
  }
}

#discover-page-list {
  padding-top: 50px;
  .list-title {
    h2 {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: whitesmoke;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      .item {
        border-radius: 16px;
        transition: 125ms ease-in-out;
        &:hover {
          background-color: #ffffff1a;
        }
        padding: 16px 32px;
        a {
          display: flex;
          text-decoration: none;
          .left-side {
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            margin-right: 32px;
            width: 96px;
            height: 129px;
            img {
              width: 100%;
              height: 100%;
            }
            .to-wishlist {
              position: absolute;
              top: 0px;
              right: 0px;
              transition: opacity 125ms ease-in-out 0s;
              opacity: 0;
              z-index: 1;
              .add-to-wishlist {
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                .wishlist-circle {
                  align-items: center;
                  background: rgb(18, 18, 18);
                  border-radius: 50%;
                  border: 2px solid rgb(245, 245, 245);
                  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
                  display: flex;
                  flex: 0 0 auto;
                  height: 20px;
                  justify-content: center;
                  position: relative;
                  width: 20px;
                  .plus-item {
                    width: 12px;
                    height: 12px;
                    &::before {
                      background: rgb(245, 245, 245);
                      bottom: 0;
                      content: "";
                      left: 0;
                      margin: auto;
                      position: absolute;
                      right: 0;
                      top: 0;
                      height: 10px;
                      width: 2px;
                    }
                    &::after {
                      background: rgb(245, 245, 245);
                      bottom: 0;
                      content: "";
                      left: 0;
                      margin: auto;
                      position: absolute;
                      right: 0;
                      top: 0;
                      height: 2px;
                      width: 10px;
                    }
                  }
                }
              }
            }
            &:hover .to-wishlist {
              opacity: 1;
            }
          }
          .right-side {
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
              margin: 0;
              font-size: 16px;
              line-height: 20px;
              color: whitesmoke;
              margin-bottom: 5px;
            }
            span {
              color: whitesmoke;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #discover-page-list {
    .list-title {
      margin-left: 16px;
      h2 {
        font-size: 18px;
      }
    }
    ul {
      li {
        .item {
          padding: 16px;
          a {
            .left-side {
              width: 80px;
              height: 63px;
              margin-right: 15px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .right-side {
              max-width: 183px;
              p {
                font-size: 14px;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #discover-page-list {
    .list-title {
      margin-left: 16px;
      h2 {
        font-size: 18px;
      }
    }
    ul {
      li {
        .item {
          padding: 16px;
          a {
            .left-side {
              width: 72px;
              height: 89px;
              margin-right: 15px;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .right-side {
              max-width: 183px;
              p {
                font-size: 14px;
              }
              span {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

#discover-banner {
  padding-top: 50px;
  padding-bottom: 50px;
  .banner-item {
    position: relative;
    .banner-image {
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      &:hover::after {
        opacity: 1;
      }
      &::after {
        content: "";
        transition: opacity 125ms ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        opacity: 0;
        z-index: 1;
      }
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .to-wishlist {
      position: absolute;
      top: 0px;
      right: 0px;
      transition: opacity 125ms ease-in-out 0s;
      opacity: 0;
      z-index: 1;
      .add-to-wishlist {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        .wishlist-circle {
          align-items: center;
          background: rgb(18, 18, 18);
          border-radius: 50%;
          border: 2px solid rgb(245, 245, 245);
          box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 6px;
          display: flex;
          flex: 0 0 auto;
          height: 20px;
          justify-content: center;
          position: relative;
          width: 20px;
          .plus-item {
            width: 12px;
            height: 12px;
            &::before {
              background: rgb(245, 245, 245);
              bottom: 0;
              content: "";
              left: 0;
              margin: auto;
              position: absolute;
              right: 0;
              top: 0;
              height: 10px;
              width: 2px;
            }
            &::after {
              background: rgb(245, 245, 245);
              bottom: 0;
              content: "";
              left: 0;
              margin: auto;
              position: absolute;
              right: 0;
              top: 0;
              height: 2px;
              width: 10px;
            }
          }
        }
      }
    }
    &:hover .to-wishlist {
      opacity: 1;
    }

    .banner-desc {
      margin-top: 30px;
      .banner-name {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          font-size: 22px;
          line-height: 30px;
          letter-spacing: -0.4px;
          color: whitesmoke;
        }
      }
      p {
        font-size: 16px;
        line-height: 20px;
        color: #f5f5f599;
        margin: 0;
      }
      .price {
        margin-top: 25px;
        a {
          text-decoration: none;
          font-size: 22px;
          line-height: 30px;
          color: whitesmoke;
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  #discover-banner {
    .banner-item {
      margin-top: 30px;
    }
  }
  #discover-ad {
    .ad-item {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  #discover-banner {
    .banner-item {
      .banner-desc {
        .banner-name {
          a {
            font-size: 18px;
          }
        }
        .price {
          a {
            font-size: 18px;
          }
        }

        p {
          font-size: 14px;
        }
      }
    }
  }
}

#discover-ad {
  padding-bottom: 50px;
  .ad-item {
    .ad-image {
      border-radius: 16px;
      overflow: hidden;
      position: relative;
      &:hover::after {
        opacity: 1;
      }
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
      &::after {
        content: "";
        transition: opacity 125ms ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        pointer-events: none;
        opacity: 0;
        z-index: 1;
      }
    }
    .ad-desc {
      margin-top: 20px;
      .ad-name {
        margin-bottom: 15px;
        a {
          text-decoration: none;
          font-size: 22px;
          line-height: 30px;
          letter-spacing: -0.4px;
          color: whitesmoke;
        }
      }
      p {
        font-size: 16px;
        line-height: 20px;
        color: #f5f5f599;
        margin: 0;
      }
      .browse-btn {
        margin-top: 25px;

        a {
          text-decoration: none;
          font-size: 22px;
          line-height: 30px;
          color: whitesmoke;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #discover-ad {
    .ad-item {
      .ad-desc {
        .ad-name {
          a {
            font-size: 18px;
          }
        }
        p {
          font-size: 14px;
        }
        .browse-btn {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }
}
